@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<p>Professor @ViewData["Professor"]</p>
<address>
    <strong>More information: </strong> <a href="http://educandoweb.com.br">Educandoweb.com.br</a>
    <hr />
    <strong>Udemy: </strong> <p>C # Course COMPLETE 2018 Object Oriented Programming + Projects by instructor Nelio Alves</p>
    <strong>Link to Course: </strong><a href="https://www.udemy.com/programacao-orientada-a-objetos-csharp/">C# COMPLETO 2018 Programação Orientada a Objetos + Projetos</a>
</address>